/********************* common ***********************/

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Exo 2";
  /* font-family: "Acme", sans-serif; */
  /* font-family: "Roboto", sans-serif; */
}

main {
  padding-top: 60px;
  max-width: 100vw;
  background-color: #f5f5f5;
}

section {
  padding: 20px 0;
}

p,
span,
i,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.btn:focus,
.btn:active,
.btn:hover,
.btn {
  box-shadow: none;
}

.form-control:focus,
.form-control:active,
.form-control:hover,
.form-control {
  box-shadow: none;
  border-width: 2px;
}

.form-control:focus {
  border-color: #122a;
}

.vCenterContents {
  display: flex;
  align-items: center;
}

.hCenterContents {
  display: flex;
  justify-content: center;
}

.cPointer {
  cursor: pointer;
}

.themeColorHoverBtn {
  background-color: #fff;
  color: #122;
  border: 1px solid #122;
}

.themeColorHoverBtn:hover {
  background-color: #122;
  color: #fff;
}

.themeColorHoverBtn:focus {
  box-shadow: none;
}

.themeColorHoverBtnInv {
  background-color: #122;
  color: #fff;
  border: 1px solid #fff;
}

.themeColorHoverBtnInv:hover {
  background-color: #fff;
  color: #122;
}

.themeColorHoverBtnInv:focus {
  box-shadow: none;
}

.themeHeadingLg {
  font-size: 30px;
  color: #122;
}

.themeHeadingSm {
  font-size: 20px;
  color: #122;
  margin: 10px 0;
}

#selectFromOptions .option {
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  border: 2px solid #1122;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fff;
  overflow: hidden;
  color: #344;
}

#selectFromOptions .selected {
  border-color: #122a !important;
}

@media screen and (max-width: 575px) {
  .themeHeadingLg {
    font-size: 25px;
  }
  p {
    font-size: 14px;
  }
}

/********************* header ***********************/

header {
  position: fixed;
  z-index: 1001;
  width: 100%;
}

nav {
  background-color: #122;
}

.fa-bars {
  font-size: 22px;
  border: none;
  padding: 0;
  margin: 0;
}

.searchDivSm {
  padding: 5px;
  padding-top: 0;
  background-color: #122;
}

.searchDivSm input,
.searchDivSm input:focus,
.searchDivSm input:active {
  background-color: #233;
  border-color: #0000;
  color: white;
}

#navSearch {
  background-color: #233;
  border: none;
  /* border-color: #999; */
  /* border-top-left-radius: 20px;
  border-bottom-left-radius: 20px; */
}

#navSearch:focus {
  /* border-color: #aaa; */
  color: #eee;
}

#navSearchBtn {
  background-color: #233;
  color: #fff;
  /* border: 2px solid #999; */
  /* border-top-right-radius: 20px;
  border-bottom-right-radius: 20px; */
}

#navSearchBtn:hover {
  /* border-color: #aaa; */
  color: #eee;
}

.headerSwasthifyLogo {
  height: 40px;
}

.fa-shopping-cart {
  color: #fff;
}

.shoppingBadge {
  position: absolute;
  right: 25px;
  top: 15px;
  padding: 3px;
  background-color: #122;
}

.shoppingBadgeSm {
  position: absolute;
  right: 13px;
  top: 15px;
  padding: 3px;
  background-color: #122;
}

.cartBtnSmall {
  display: none;
}

.sideNav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 300px;
  color: #000;
  background-color: #eee;
  z-index: 1002;
  box-shadow: 5px 0 10px black;
}

.sideNavHeading {
  background-color: #122;
  color: #fff;
  width: 100%;
  height: 60px;
}

.sideNavHeading h1 {
  font-size: 30px;
}

.sideNavLink {
  background-color: #fff;
  color: #122;
  box-shadow: 0 0 2px -1px #000;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
}

.sideNavLink:hover {
  box-shadow: 0 0 3px -1px #000;
}

.sideNavEmptySpace {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: calc(100% - 300px);
  background-color: #fff1;
  z-index: 1002;
}

.cart {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 420px;
  color: #000;
  background-color: #eee;
  z-index: 1002;
  box-shadow: -5px 0 10px black;
}

.cartEmptySpace {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: calc(100% - 420px);
  background-color: #000a;
  z-index: 1002 !important;
}

.cartHeading {
  padding: 10px;
  background-color: #122;
  color: white;
  font-size: 30px;
  height: 60px;
}

.cartBackArrow {
  float: left;
  font-size: 35px;
  font-weight: bold;
  background-color: #1225;
  width: 50px;
  height: 50px;
  color: #fff;
  border-radius: 25px;
  cursor: pointer;
  display: none;
}

.cartBackArrow:hover {
  background-color: #233;
}

.cartMain {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 70px - 78px);
}

.billContainer {
  width: 100%;
  padding: 10px 20px;
  background-color: #fff;
  margin-bottom: 10px;
}

.productsInCartContainer {
  width: 100%;
  background-color: #fff;
  padding: 10px 0;
}

.cartFooter {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background-color: #fff;
}

.cartProductCard {
  height: 130px;
  cursor: pointer;
  padding: 5px;
  background-color: #fff;
  box-shadow: 0 0 2px -1px #000;
}

.cartProductCard:hover {
  box-shadow: 0 0 3px -1px #000;
}

.cartProductCard .imageContainer {
  margin: 0 auto;
  height: 100px;
  width: 100px;
}

.cartProductCard .colInRow {
  padding: 10px;
}

.cartProductCard .imageContainer img {
  margin-top: 5%;
  height: 95%;
  width: 100%;
  transition: 500ms;
}

.cartProductCard:hover .imageContainer img {
  margin-top: 0%;
}

.cartProductCard .productName {
  color: #555;
  font-size: 15px;
}

.cartProductCard .productPrice {
  color: #555;
  font-size: 18px;
  float: left;
  margin-right: 5px;
}

.cartProductCard .fa-times {
  color: #555;
  font-size: 12px;
  padding: 0 5px;
}

.cartProductCard .btn-group {
  margin-left: 5px;
}

.cartProductCard .btn-group button {
  padding: 0 5px;
  font-size: 14px;
}

.cartFinalProductPrice {
  float: right;
  margin-right: 20px;
  font-weight: bold;
}

@media screen and (max-width: 991px) {
  .cartBtnSmall {
    display: block;
  }
}

@media screen and (max-width: 575px) {
  .cart {
    width: 100%;
  }

  .cartEmptySpace {
    width: 0;
  }

  .sideNav {
    width: 70%;
  }

  .sideNavEmptySpace {
    width: 30%;
  }

  .cartBackArrow {
    display: block;
  }

  .cartProductCard .productPrice {
    padding-top: 0.5vw;
    font-size: 15px;
  }

  .cartProductCard .fa-times {
    padding: 2vw 0 0;
  }

  .cartProductCard .btn-group button {
    padding: 0 3px;
    font-size: 12px;
  }

  .cartProductCard .colInRow {
    padding: 5px;
  }
}

/********************* footer ***********************/
footer {
  position: relative;
  width: 100%;
  background-color: #122;
  color: #fff;
  padding: 30px 0;
}

footer .heading {
  font-size: 16px;
  font-weight: bold;
  padding: 15px 0;
}

footer .headingSm {
  font-size: 14px;
  padding: 10px 0;
}

footer p {
  font-size: 14px;
  color: #bbb;
}

footer .greyLine {
  border-top: 0.5px solid #777;
  margin: 20px 0;
}

footer a,
footer a:hover {
  font-size: 14px;
  color: #bbb;
  text-decoration: none;
  transition: 0.3s;
}

footer a:hover {
  border-left: 6px solid #fff;
  padding-left: 3px;
}

#locationIframe {
  width: 100%;
  height: 400px;
}

#paymentIcon {
  width: 100%;
}

/********************* landing ***********************/

/************** categories container *****************/

.categoriesContainer {
  background-color: #fff;
  box-shadow: 0 0 2px -1px #000;
  padding: 10px;
}

.categoriesContainer a {
  color: #000;
}

.categoriesContainer a:hover {
  text-decoration: none;
}

.categoryContainer:hover {
  cursor: pointer;
  color: #555;
}

.categoryIcon {
  width: 70px;
  height: 70px;
}

@media screen and (max-width: 1199px) {
  .categoriesContainer {
    padding: 5px;
  }

  .categoryIcon {
    width: 65px;
    height: 65px;
  }
}

@media screen and (max-width: 991px) {
  .categoryIcon {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 767px) {
  .categoryIcon {
    width: 35px;
    height: 35px;
  }
}

@media screen and (max-width: 575px) {
  .categoryContainer {
    font-size: 12px;
  }
}

/********************* carousel ***********************/

.carouselContainer {
  margin: 10px 0;
  z-index: 1;
}

.carouselContainer img {
  height: 300px;
}

@media screen and (max-width: 1199px) {
  .carouselContainer img {
    height: 200px;
  }
}

@media screen and (max-width: 991px) {
  .carouselContainer img {
    height: 170px;
  }
}

@media screen and (max-width: 767px) {
  .carouselContainer img {
    height: 140px;
  }
}

@media screen and (max-width: 575px) {
  .carouselContainer img {
    height: 120px;
  }
}

/********************* features container ***********************/

.featuresContainer {
  background-color: #fff;
  padding: 20px;
}

.featuresContainer p {
  font-size: 14px;
  color: #555;
}

.featuresContainer span {
  color: #122;
  font-size: 35px;
}

.featuresContainer b {
  font-size: 14px;
}

@media screen and (max-width: 992px) {
  .featuresContainer p {
    font-size: 13px;
  }

  .featuresContainer span {
    font-size: 30px;
  }

  .featuresContainer b {
    font-size: 13px;
  }
}

/****************** features with banners container ***************/

.featureswbContainer {
  padding: 30px;
  background-color: #fff;
}

.featureswbContainer .colOfRow {
  padding: 0;
}

.featureswbContainer .bannerContainer {
  padding: 20px;
  height: 100%;
}

.featureswbContainer .bannerImage {
  width: 100%;
}

.featureswbContainer .bannerHeading {
  margin: 30px 0;
  font-size: 24px;
}

.featureswbContainer .banner p {
  font-size: 16px;
}

.featureswbContainer .banner {
  padding-bottom: 20px;
  height: 100%;
}

.featureswbContainer .banner:hover {
  box-shadow: 0 0 40px -15px #000;
}

@media screen and (max-width: 991px) {
  .featureswbContainer .bannerContainer {
    padding: 10px;
  }

  .featureswbContainer .bannerHeading {
    margin: 10px 0;
    font-size: 18px;
  }

  .featureswbContainer .banner p {
    font-size: 12px;
  }
}

@media screen and (max-width: 767px) {
  .featureswbContainer {
    padding: 20px;
  }

  .featureswbContainer .bannerContainer {
    padding: 5px;
  }

  .featureswbContainer .bannerHeading {
    margin: 5px 0;
    font-size: 16px;
  }

  .featureswbContainer .banner p {
    font-size: 12px;
  }

  .featureswbContainer .banner {
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 575px) {
  .featureswbContainer {
    padding: 20px;
  }

  .featureswbContainer .bannerContainer {
    padding: 10px 0;
  }

  .featureswbContainer .bannerHeading {
    margin: 10px 0;
    font-size: 4vw;
  }

  .featureswbContainer .banner p {
    font-size: 3.5vw;
  }

  .featureswbContainer .banner {
    padding-bottom: 3vw;
  }
}

/****************** products list ***************/

#productListSec {
  padding: 0;
}

.productListContainer {
  margin: 10px auto;
  background-color: #fff;
  box-shadow: 0 0 2px -1px #000;
  padding: 30px;
}

@media screen and (max-width: 575px) {
  .productListContainer {
    padding: 10px;
  }
}

.categoryName {
  font-size: 30px;
}

.productCard {
  cursor: pointer;
  padding: 10px;
  box-shadow: 0 0 2px -1px #000;
  background-color: #fff;
  height: 100%;
}

.productCard:hover {
  box-shadow: 0 0 3px -1px #000;
}

.productCard .imageContainer {
  position: relative;
  margin: 0 auto;
  padding-top: 80%;
  width: 80%;
  /* padding-left: auto;
  padding-right: auto; */
  width: auto;
}

.productCard .imageContainer img {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 5%;
  height: 95%;
  width: 100%;
  /* width: 100%;
  max-width: 300px; */
  transition: 500ms;
}

.productCard:hover .imageContainer img {
  margin-top: 0%;
  /* margin-bottom: 10%; */
}

.productCard .productName {
  color: #555;
  font-size: 15px;
}

.productCard .productPrice {
  color: #555;
  font-size: 18px;
  font-weight: bold;
  float: left;
}

.productCard .fas {
  color: rgb(202, 48, 189);
}

.productCard .fa-heart {
  font-size: 20px;
}

.productCard .fa-heart:active {
  font-size: 30px;
  transition: 1s;
}

.productCard button {
  font-size: 12px;
}

/******************** product details *********************/

.productDetailsContainer {
  margin: 10px auto;
  background-color: #fff;
  box-shadow: 0 0 2px -1px #000;
  padding: 30px;
}

@media screen and (max-width: 575px) {
  .productDetailsContainer {
    padding: 10px;
  }
}

.productImageCarouselThumbnail {
  position: absolute;
  left: 0;
}

.productImageCarouselThumbnail img {
  position: relative;
  width: 60px;
  border: 1px solid #1222;
  display: block;
  margin: 3px 0;
  cursor: pointer;
}

.productImageCarouselThumbnail img:hover {
  box-shadow: 0 0 4px -2px #122;
}

.productDetailsContainer .productImage {
  width: 60%;
}

.productDetailsContainer .productName {
  font-size: 26px;
}

.productDetailsContainer .productName .fa-heart {
  float: right;
  font-size: 40px;
  margin: 5px;
  color: rgb(202, 48, 189);
}
.productDetailsContainer .productPrice {
  font-size: 30px;
  font-weight: bold;
  color: #122;
}

.productDetailsContainer .qtySelectionBtn {
  color: #122;
  background-color: #fff;
  border: 1px solid #122;
  margin: 2px 5px 30px 0;
}

.productDetailsContainer .qtySelectedBtn {
  background-color: #122;
  color: #fff;
}

.productDetailsContainer .qtySelectionBtn:focus,
.productDetailsContainer .qtySelectionBtn {
  box-shadow: none;
}

.productDetailsContainer .btn-group {
  margin-right: 20px;
}

.productDetailsContainer .productDetail {
  min-height: 10rem;
}

.productDetailsContainer .productDetail b {
  padding: 5px 20px;
  cursor: pointer;
}

.productDetailsContainer .productDetail b.showingDetail {
  border-bottom: 2px solid #122;
}

.productDetailsContainer .specificDetail {
  margin: 20px 0;
}

@media screen and (max-width: 575px) {
  .productDetailsContainer .productDetail b {
    padding: 3vw;
    font-size: 3vw;
  }
}

@media screen and (max-width: 400px) {
  .productDetailsContainer .productDetail b {
    padding: 2vw;
    font-size: 3.5vw;
  }
}

/*************** product carousel  ******************/

.productCarouselContainer {
  margin: 10px 0;
  background-color: #fff;
  box-shadow: 0 0 2px -1px #122;
  padding: 0 10px;
  overflow: hidden;
}

.productCarouselMain {
  overflow-x: auto;
}

.productCarouselMain::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.productCarouselMain {
  -ms-overflow-style: none;
}

.productCarouselContainerInner {
  width: 10000%;
}

.carouselProductCard {
  display: inline-block;
  margin: 5px;
  width: 263px;
}

#productCarouselSec .carouselName {
  display: inline-block;
}

#productCarouselSec .carouselArrow {
  font-size: 30px;
  font-weight: bold;
  background-color: #1225;
  width: 40px;
  height: 40px;
  color: #fff;
  line-height: 0;
  border-radius: 20px;
  margin: 0 10px;
  cursor: pointer;
}

#productCarouselSec .carouselArrow:hover {
  background-color: #122;
}

#productCarouselSec .carouselLeft {
  float: left;
}

#productCarouselSec .carouselRight {
  float: right;
}

/*************************** checkout *******************************/

.deliveryAddressCard {
  border: 2px solid #1122;
  padding: 10px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  background-color: #fff;
  overflow: hidden;
  color: #344;
}

.deliveryAddressCard:hover {
  border-color: #1124;
}

.selectedDeliveryAddressCard {
  border-color: #122a !important;
}

.checkoutProductContainer {
  width: 100%;
  /* height: 10px; */
  background-color: white;
  font-size: 14px;
  padding: 5px;
  box-shadow: 0 0 2px -1px #000;
}

.checkoutProductContainer .imageContainer {
  height: 100%;
  width: 100%;
}

.checkoutProductContainer .imageContainer img {
  height: 70px;
  width: 70px;
}

.checkoutProductContainer .finalProductPrice {
  float: right;
}

.loadingPage {
  height: 100%;
  width: 100%;
  z-index: 50;
  color: black;
  /* padding: 50px; */
}

/********* product carousel *********/

.productCarouselContainer {
  box-shadow: 0 0 3px -1px #000;
  padding-top: 10px;
  padding-bottom: 10px;
}

/********** flash *******************/

.flashMessage {
  background-color: #122;
  color: white;
  z-index: 5;
  left: 10px;
  margin-right: 10px;
  top: 70px;
  border-radius: 5px;
}

.flashMessage .alert {
  margin-bottom: 0;
}

.flashMessage button,
.flashMessage button:hover {
  color: white;
  background-color: #122;
  right: 0;
}
